.p-checkbox-box {
  border: 1px solid #ccc !important;
  border-radius: 6px;
  box-shadow: none !important;
}


.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}


.table-gridlines {
  @apply border-collapse border border-gray-200;
}

.table-gridlines th,
.table-gridlines td {
  @apply border border-gray-200;
}

.table-gridlines th {
  @apply border border-gray-200;
}

@media (max-width: 768px) {
  .responsive-table-container {
    padding: 1rem;
  }

  .p-datatable-sm .p-datatable-tbody > tr > td,
  .p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.5rem;
  }
}


