.p-checkbox-box {
  border: 1px solid #ccc !important;
  border-radius: 6px;
  box-shadow: none !important;
}

.p-datatable-sm .p-datatable-tbody > tr > td,
  .p-datatable-sm .p-datatable-thead > tr > th {
    text-align: center !important;
  }

.p-datatable .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-dropdown-item {
  justify-content: center;
}

.p-fluid .p-inputtext {
  width: 10vh;
}

.p-datatable-header {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}


.p-inputtext {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.table-gridlines {
  @apply border-collapse border border-gray-200;
}

.table-gridlines th,
.table-gridlines td {
  @apply border border-gray-200;
}

.table-gridlines th {
  @apply border border-gray-200;
}

@media (max-width: 768px) {
  .responsive-table-container {
    padding: 1rem;
  }

  .p-datatable-sm .p-datatable-tbody > tr > td,
  .p-datatable-sm .p-datatable-thead > tr > th {
    padding: 0.5rem;
    
  }
}

.custom-alert {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  color: white;
  border-radius: 0.5rem;
  padding: 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  max-height: auto;
}


.custom-alert .react-confirm-alert-button-group button {
  background: none;
  color: white;
  border: none;
  width: 100px;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.custom-alert .react-confirm-alert-button-group button:hover {
  background-color: white;
  color: #212121;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.8) !important; /* Black background with opacity */
}

