/* Sidebar.css */
#containerSidebar {
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

#containerSidebar.show {
  transform: translateX(0);
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
